image: alpine:latest

pages:
  stage: deploy
  script:
    - mkdir -p public
    - cp index.html public/
    - cp -r css public/
    - cp -r js public/
    - cp -r fonts public/
    - cp TeamVacationCalendar_192x192.png public/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
